/L42Release/
tmp/
perfresults/
localhost/
L42ReleaseV0_95a/
L42ReleaseV0_96a/
safeNativeCode17.jar
papers/SCP2021SecondSubmission/SCP.bbl
papers/SCP2021SecondSubmission/SCP.blg
papers/SCP2021SecondSubmission/appendixParallelism.log
papers/presentations/unsound/600px-Apocalypse_vasnetsov.jpg
papers/presentations/unsound/apoBig.jpg
papers/presentations/unsound/InevitableBig.jpg
papers/presentations/unsound/Inevitable.jpg
