*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IntelliJ Idea
#.idea/*
#!./.idea/runConfigurations
.idea/workspace.xml
#*.eml
#*.iml
./.project
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/libraries/
/out/

# Windows/Visual studio binary files
*.vs/
*.suo
*.exe
*.pdb

#42 Cache
/Tests/L42IDE/L42.is%2FAdamTowel02/

# Ignore Gradle stuff
/.gradle/
/build/
