            .ace_editor {
              border: 1px solid lightgray;
              height: 600px;
              width: auto;
            }
            .scrollmargin {
              height: 80px;
              text-align: center;
            }

            #fileList{
              height: 100px;
              width: 100px;
            }

            [class*='col-'] {
              float: left;
              background-color: gray;
            }

            /* Package Browser */
            .col-2-1 {
              width: 100.00px;
              background-color: gray;
            }

            /* Ace */
            .col-2-3 {
              width: 80%;
              background-color: red;
            }

            /* Messages */
            .col-2-2 {
              width: 100.00%;
              background-color: #ffffcc;
              display: block;
            }

            /* Buttons */
            .col-1-1 {
              width: 100.00%;
              background-color: black;
            }
            .grid{
              background-color: gray;

            }

            .grid:after {
              content: "";
              display: table;
              clear: both;
            }