./*.bbl
./*.fls
./*.log
./*.out
./*.synctex.gz
./*.fdb_latexmk
./*.blg
./*.fls
./*.vtc
/main.aux
/main.log
/main.out
/main.synctex.gz
/main.vtc
/Formal.log
/main.bbl
/main.blg
/main.fdb_latexmk
/main.fls
