/main.aux
/main.blg
/main.log
/main.bbl
/main.out
/main.pdf
/main.synctex.gz
/main.vtc
/main.fls
/main.fdb_latexmk
/main-ecoop.aux
/main-ecoop.bbl
/main-ecoop.blg
/main-ecoop.fdb_latexmk
/main-ecoop.fls
/main-ecoop.log
/main-ecoop.out
/main-ecoop.pdf
/main-ecoop.synctex.gz
/main-ecoop.vtc
/main-oopsla.aux
/main-oopsla.bbl
/main-oopsla.blg
/main-oopsla.log
/main-oopsla.out
/main-oopsla.pdf
/main-oopsla.synctex.gz
/TMsAndOCs.log
/Esoop.aux
/Esoop.bbl
/Esoop.blg
/Esoop.log
/Esoop.pdf
/Esoop.synctex.gz
/case-study.log
/main-body.synctex(busy)
/main-body.log
/encapsulated.log
/.AlexNotes.txt.kate-swp
/TOPLAS.aux
/TOPLAS.log
/TOPLAS.out
/TOPLAS.pdf
/TOPLAS.synctex.gz
/TOPLAS.blg
